<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myfirstglapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="ShareActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayYoutubeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Black"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.mycompany.myfirstglapp.ListPlayerActivity"
            android:label="Players">
        </activity>

        <activity android:name="com.mycompany.myfirstglapp.MyProfileDialog"
            android:label="My Profile">
        </activity>

        <activity android:name="com.mycompany.myfirstglapp.PdfActivity"
            android:label="Soccer Rules">
        </activity>

        <activity android:name="com.mycompany.myfirstglapp.CameraAppActivity"
            android:label="Video Recording">
        </activity>

        <activity android:name="com.mycompany.myfirstglapp.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.mycompany.myfirstglapp.SignupActivity" android:theme="@style/AppTheme.Dark" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>
